.gutter {
    display: inline-block;
    width: max-content;
}

.code {
    width: 100%;
}

pre {
    margin: 0;
}

.hljs {
    padding: 0;
    white-space: pre;
    width: 100px;
    overflow-x: visible;
}
