<div class="go-up">
  <a href="#" rel="go-top">
    <i class="fas fa-angle-up"></i>
  </a>
</div>
<%- js([setting.js.bootstrap, setting.js.TweenMax, setting.js.resizeable, setting.js.joinable, setting.js.xenonApi, setting.js.xenonToggles, setting.js.xenonCustom]) %>
<% if (setting.busuanzi.enable) { %>
<script async src="<%- setting.js.busuanzi %>"></script>
<% } %>

<%- js(setting.js.lozad) %>
